{% load static %}{% load rest_framework %}
{% load common_function %}

<div class="row clearfix">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-danger">

    <div class="panel-heading" role="tab" id="headingOne_1">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
            PRODUCT CARD {{data}}
            </a>
        </h4>
    </div>

    <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
    <div class="panel-body">
                        
        <div class="col-sm-5 col-md-5">
        <div class="thumbnail">
                    
            <div class="row clearfix">
                <div class="col-md-3">                       
                    <label for="product_name">Product</label>
                </div>
            <div class="form-group">
            {% drop_down_list tableName="printerapp_product" show_field_name="product_name" store_field_name="id" as list_drop %}
            <div class="col-md-8">
            <select class="form-control show-tick" id="product_name{{data}}" placeholder="{{data}}" name="product_name[]" onchange="getproductid(this,data);">
                <option value="">-- Select Product-- </option>   
                {% for list_drop_val in list_drop %}
                <option value="{{ list_drop_val.id }}"> {{ list_drop_val.text }} </option>
                {% endfor %}
            </select>
            </div>
            </div>
            </div>

            <label for="Process">Process :</label>
            <div class="container">

            <div id="processlistdiv{{data}}" name="processlistdiv[]" class="demo-checkbox"></div>
            <table class="a" style="width:100%" border="2"> </table>
            </div>       
                       
            <br>
                              
            <div class="row clearfix">

                <div class="col-md-2">
                    <label for="Paper"> Paper</label>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                {% drop_down_list tableName="printerapp_paper" show_field_name="paper_name" store_field_name="id" as list_drop %}

                    <select class="form-control show-tick" id="papertype{{data}}" name="papertype[]">
                    <option value="">-- Paper --</option>   
                    {% for list_drop_val in list_drop %}
                    <option value="{{ list_drop_val.id }}"> {{ list_drop_val.text }} </option>
                    {% endfor %}
                    </select>
                </div>
                </div> 
                
                <div class="col-md-2">      
                    <label for="GSM"> GSM</label>
                </div>
                <div class="col-md-4">    
                <div class="form-group">
                {% drop_down_list tableName="printerapp_gsm" show_field_name="gsm_name" store_field_name="id" as list_drop %}
                     
                    <select class="form-control show-tick" id="gsm{{data}}" name="gsm[]">
                    <option value="">-- GSM --</option>    
                    {% for list_drop_val in list_drop %}
                    <option value="{{ list_drop_val.id }}">{{list_drop_val.text}}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
            </div>
          


        </div>
        </div>


    <div class="col-sm-7 col-md-7">
    <div class="thumbnail">
                    
                                
        <div class="col-md-6">
            
            <div class="row clearfix">    
                <div class="col-md-3">    
                    <label for="size">Size (Inches)</label>
                </div>
                <div class="form-group">
                {% batch_drop_down_list tableName="printerapp_size" show_field_name="size_name" store_field_name="id" show_field_name1="length" show_field_name2="width" as list_drop %}
                
                <div class="col-md-8">
                    <select class="form-control show-tick" id="size{{data}}" name="size[]" onchange="getsizeid(this,data);">
                    <option value="">-- Select Size -- </option>
                    {% for list_drop_val in list_drop %}
                    <option value="{{ list_drop_val.id }}">{{list_drop_val.text}}</option>
                    {% endfor %}
                    </select>
                </div>
                </div>
            </div>

            <br>
            <div class="row clearfix">
                <div class="demo-radio-button">
                <div class="col-md-6">
                    <input name="group3[]{{data}}" type="radio" id="radio_3{{data}}" class="with-gap" checked="true" />
                    <label for="radio_3{{data}}">Predefined</label>
                </div>
                <div class="col-md-6">
                    <input name="group3[]{{data}}" type="radio" id="radio_4{{data}}" class="with-gap" onclick="customfunc(this,data);"/>
                    <label for="radio_4{{data}}">Custom</label>
                </div>
                </div>
            </div>
             <br>       
            <div id="customsize"class="row clearfix">
                <div class="col-md-6">
                    <label for="custom_length">1.Length(inches)</label>
                    <div class="form-group">
                    <div class="form-line">
                        <input type="text"name="custom_length[]" id="custom_length{{data}}" class="form-control" value=""placeholder="Length" disabled="true">
                    </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="custom_width">2.Width(inches)</label>
                        <div class="form-group">
                        <div class="form-line">
                            <input type="text"name="custom_width[]" id="custom_width{{data}}" class="form-control" value=""placeholder="Width" disabled="true">
                        </div>
                        </div>
                </div>
            </div>
                    
            <div class="row clearfix">
                <div class="col-md-6">
                    <label for="Quantity">Quantity</label>
                    <div class="form-group">
                    <div class="form-line">
                        <input type="text" name="quantity[]" id="quantity{{data}}" class="form-control" value=""placeholder="Quantity">
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="demo-checkbox">
                    <br><input type="checkbox"  name="partialdelivery[]" id="partialdelivery{{data}}" class="filled-in chk-col-teal" onclick="partialdelivery(this,data)"/>
                    <label for="partialdelivery{{data}}">Partial Delivery</label>             
                </div>
                </div>
            </div>


            <div id="partialdeliverydiv[]{{data}}"class="row clearfix">
                <div class="col-md-5">
                    <label for="partial_quantity">1.Part.Qty</label>
                    <div class="form-group">
                    <div class="form-line">
                        <input type="text" name="partial_quantity[]" id="partial_quantity{{data}}" class="form-control" value=""placeholder="Partial Qty" disabled="true">
                    </div>
                    </div>
                </div>
                                
                <div class="col-md-7">
                    <label for="partial_datetime">2.Part.Date/Time</label>
                    <div class="form-group">
                    <div class="form-line">
                        <input type="text" name="partial_datetime[]" id="partial_datetime{{data}}" class="datetimepicker form-control" value=""placeholder="Date and Time" disabled="true">
                    </div>
                    </div>
                </div>
            </div>

         
        </div>   

        <div class="col-md-6">

            <div class="row clearfix">
                <div class="demo-radio-button">
                    <div class="col-md-6">
                        <input name="group2[]{{data}}" type="radio" id="radio_1{{data}}" class="with-gap" checked="true" />
                        <label for="radio_1{{data}}">Single Side</label>
                    </div>
                    <div class="col-md-6">
                        <input name="group2[]{{data}}" type="radio" id="radio_2{{data}}" class="with-gap" />
                        <label for="radio_2{{data}}">Double Side</label>
                    </div>
                </div> 
            </div>
            <br>

            <div class="row clearfix"> 
                                   
                <label for="Expected_delivery">Expected Delivery  Date and Time</label>
                <div class="form-group">
                <div class="form-line">
                    <input type="text" name="delivery_datetime[]" id="delivery_datetime{{data}}" class="datetimepicker form-control" value="2019-12-12 11:25:14" placeholder="Enter Expected Delivery  Date and Time">
                </div>
                </div>
            </div>
            <br>             
            <div class="row clearfix"> 
                <div class="col-md-3">
                    <label for="deliverymode">Delivery</label>
                </div>
                <div class="col-md-8">
                <div class="form-group">
                {% drop_down_list tableName="printerapp_deliverymode" show_field_name="deliverymode" store_field_name="id" as list_drop %} 
                                
                <select class="form-control show-tick" id="deliverymode{{data}}" name="deliverymode[]">
                <option value="">-- Deliverymode-- </option>
                {% for list_val in list_drop %}
                <option value="{{ list_val.id }}"{% if list_val.id == data.state %}selected="true"{% endif %}>{{ list_val.text }}</option>
                {% endfor %}
                </select>
                </div>
                </div>
            </div>
            </div>
            <br>

            <div class="row clearfix"> 
            <div class="col-md-6">
                <label for="delivery_description">Delivery Description</label>
                <div class="form-group">
                <div class="form-line">
                    <input type="text" name="delivery_description[]" id="delivery_description{{data}}" class="form-control" placeholder="Enter delivery desccription">
                </div>
                </div>
            </div>
            </div>
        
        </div>
                    
                                                

                    
    </div>
    </div>





                    </div>
                </div>
            </div>
        </div>               
    </div>
</div>