{% load static %}{% load rest_framework %}{%load common_function %}

<html>
<head>

{% include "includes/css_file.html" %}
<style type="text/css">
.container { border:2px solid #ccc; width:300px; height: 250px; overflow-y: scroll;
</style>
</head>
<body class="theme-red">
{% include "includes/index.html" %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>JOB CARD</h2>
        </div>
  	<div class="row clearfix">
        {% if  error_data  or  success_data%}
        <div class="col-md-12">
        <div   {% if  error_data  %} class="alert alert-danger"  {% endif %} {% if  success_data  %} class="alert  alert-success"  {% endif %}>
        {% if  error_data  %}
        {{error_data.Error.message}} 
                                    
        {% for  error_details in error_data.Error.error_details %}
        {{error_data..Error.error_details}}
        </Br>
        {{error_details.field}} -> {{error_details.message}}
        {% endfor %}
        {% endif %}
        {% if  success_data %}
        <strong>Well done!</strong> {{success_data}}.
        {% endif %}
        </div>
        </div>
        {% endif %}
    </div>

    

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    {% if data.id %}
                    {%if view_mode%}
                    <h2>Customer View</h2>
                    {%else%}
                    <h2>Customer Update</h2>
                    {%endif%}
                    {%else%}
                    <h2>Customer Create</h2>
                    {%endif%}
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                            <li><a href="/printerapp/jobcard/jobcard_list"><i class="material-icons">visibility</i></a></li>
                                       
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                <form method="post" name="customerfrm" id="customerfrm">{% csrf_token %}
                    
                    <div class="col-md-3">
                        <label for="size_name">Customer Name</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"name="name" id="name" class="form-control" value="{{data.name}}"placeholder="Enter Customer Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="primary_contact_no">Contact Person Name</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"name="contact_person" id="contact_person" class="form-control" value="{{data.contact_person}}"placeholder="Enter Contact Person">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <label for="primary_contact_no">Contact No</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"name="primary_contact_no" id="primary_contact_no" class="form-control" value="{{data.primary_contact_no}}"placeholder="Enter Contact No">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="address">Address</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="2" class="form-control" name="address" id="address"placeholder="Enter your address">{{data.address}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="primary_contact_no">What's app</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"name="whatsup_no" id="whatsup_no" class="form-control" value="{{data.whatsup_no}}"placeholder="What's app No">
                            </div>
                        </div>
                    </div>

                    
            
                    <div class="col-md-2">
                        <label for="primary_contact_no">Secondary No</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"name="secondary_contact_no" id="secondary_contact_no" class="form-control" value="{{data.secondary_contact_no}}"placeholder="Contact No">
                            </div>
                        </div>
                    </div>

                     <div class="col-md-2">
                        <label for="order_date">Order Date</label>
                        <div class="form-group">
                            <div class="form-line" id="bs_datepicker_container">
                                <input type="text" name="order_date" id="order_date" class="form-control" value="{{data.order_date}}"placeholder="Enter order date">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="email_id">Email</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="email" name="email_id" id="email_id" class="form-control" value="{{data.email_id}}"placeholder="Enter your Email Id">
                            </div>
                        </div>
                    </div>

                            
                    <label for="communicationmode">Communication</label>
                    <div class="col-md-3">
                        {% drop_down_list tableName="printerapp_communication" show_field_name="name" store_field_name="id" as list_dorp %} 
                        <select class="form-control show-tick" id="communication_mode" name="communication_mode">
                        <option value="">-- Communication mode -- </option>
                        {% for list_val in list_dorp %}
                        <option value="{{ list_val.id }}"{% if list_val.id == data.communication_mode %}selected="true"{% endif %}>{{ list_val.text }}</option>
                        {% endfor %}
                        </select>
                    </div>
                   
                   
              
                </div>
            <div>
        </div>
    </div>            

    <div id="productadd" name="productadd" class="productadd"></div>
            <!-- #END# Custom Content -->

    <div id="resultdiv" name="resultdiv"></div>        
    <div class="icon-button-demo" style="float: right">
        <button type="button" name="productaddbtn" id="productaddbtn" class="btn btn-danger btn-circle waves-effect waves-circle waves-float"><i class="material-icons">add</i></button>
    </div>

    <br><br>           
    <div {% if view_mode %} style="display:none" {% endif%}>
        {%if data.id %}
        <button type="submit" name="submitfrm" id="submitfrm"class="btn btn-primary m-t-15 waves-effect">Update</button>
        {%else%}
        <button type="button" name="submitfrm" id="submitfrm"class="btn btn-primary m-t-15 waves-effect">Submit</button>
        {%endif%}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-secondary m-t-15 waves-effect">Reset</button>

       
    </div>
    </form>
        

</div>
</section>



</body>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
<script src="{% static 'printerapp/js/jquery-3.2.1.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    var count=0;
    var customerid;
    var jQuery_3_2_1 = jQuery.noConflict();
    var productlist=[]
    var paperlist=[];
    var sizelist=[];
    var gsmlist=[];
    var sizeselect=[];
    var custom_length_list=[];
    var custom_width_list=[];
    var squareinch_list=[];
    var singleside=[];
    var doubleside=[]
    var side=[]
    var sides_list=[];
    var quantitylist=[];
    var partial_qty_list=[];
    var partial_datetime_list=[];
    var jobtypelist=[];
    var deliverymodelist=[];
    var delivery_desc_list=[];
    var delivery_datetime_list=[];
    var partialdelivery_list=[];

    var jobcardno;
    var processids=[];
    var result=[];
    var sendresult=[];

jQuery_3_2_1(document).ready(function() {
    
    console.log("ready");
 
    $("#productaddbtn").click(function(){
    console.log(count);
    data={"count":count};
    var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    $.ajax({
            type:'POST',
            url:"../getproductadd/",
            data:data,
            headers : {
                "X-CSRFToken" : crf_token
            },
            success:function(data){
                $('#productadd').append(data);

                //$('#delivery_datetime'+count).addClass('datetimepicker');
                // here diclare the datetipme picker

            }

        });
    count++;
    }); 


    jQuery_3_2_1("#name").autocomplete({
      source : "/printerapp/autocomplete/customername/",
      select : function(event, ui) { //item selected
      customerid=ui.item.id;
      $('#contact_person').val(ui.item.contact_person);
      $('#address').val(ui.item.address);
      $('#whatsup_no').val(ui.item.whatsup_no);
      $('#email_id').val(ui.item.email_id);

      $('#primary_contact_no').val(ui.item.primary_contact_no);
      $('#secondary_contact_no').val(ui.item.secondary_contact_no);
      //$('#communication_mode').val(ui.item.communicationmode);
      //$('#order_date').val(ui.item.order_date);

      
      },
      minLength : 2,
      });


    jQuery_3_2_1("#primary_contact_no").autocomplete({
      source : "/printerapp/autocomplete/contact_no/",
      select : function(event, ui) { //item selected
      customerid=ui.item.id;
      $('#name').val(ui.item.customer_name);
      $('#contact_person').val(ui.item.contact_person);
      $('#address').val(ui.item.address);
      $('#whatsup_no').val(ui.item.whatsup_no);
      $('#email_id').val(ui.item.email_id);
      $('#primary_contact_no').val(ui.item.primary_contact_no);
      $('#secondary_contact_no').val(ui.item.secondary_contact_no);
      //$('#communication_mode').val(ui.item.communicationmode);
      //$('#order_date').val(ui.item.order_date);
      },
      minLength : 2,
      });



$("#submitfrm").click(function(){

      var name=$('#name').val();
      var contact_person=$('#contact_person').val();
      var contact_no=$('#primary_contact_no').val();
      var whatsup_no=$('#whatsup_no').val();
      var email_id=$('#email_id').val();  
      var sec_contact_no=$('#secondary_contact_no').val();
      var address=$('#address').val();
      var communicationmode=$('#communication_mode').val();
      var order_date=$('#order_date').val();

        $.each($('[id^=product_name'), function (i, item) {
        var productname = $(this).val();
        productlist.push(productname);
        //alert(productlist);
        });

        $.each($('[id^=processname'), function (i, item) {

        if($(this).prop("checked") == true){
            processids.push($(this).val()); 
            //$('#partialdeliverydiv'+i).show();
        }
        });

        $.each($('[id^=papertype'), function (i, item) {
        var papertype = $(this).val();
        paperlist.push(papertype);
        });

        $.each($('[id^=gsm'), function (i, item) {
        var gsm = $(this).val();
        gsmlist.push(gsm);
        })

        $.each($('[id^=size'), function (i, item) {
        var size = $(this).val();
        sizelist.push(size);
        })

        $.each($('[id^=radio_3'), function (i, item) {
        
        if($(this).prop("checked") == true){
            $(this).val("1");
            sizeselect.push($(this).val());    
        }
        })

        $.each($('[id^=radio_4'), function (i, item) {
        
        if($(this).prop("checked") == true){
            $(this).val("2");
            sizeselect.push($(this).val());    
            
        }
        })

        //alert(sizeselect);

        $.each($('[id^=custom_length'), function (i, item) {
        var custom_length = $(this).val();
        custom_length_list.push(custom_length);
        })

        $.each($('[id^=custom_width'), function (i, item) {
        var custom_width = $(this).val();
        custom_width_list.push(custom_width);
        })


        $.each($('[id^=radio_1'), function (i, item) {
        
        if($(this).prop("checked") == true){
            $(this).val("1");
            side.push($(this).val());    
        }
        
        })

        $.each($('[id^=radio_2'), function (i, item) {
        
        if($(this).prop("checked") == true){
            $(this).val("2");
            side.push($(this).val());    
            
        }
        
        })
     
        //alert(side);
        $.each($('[id^=quantity'), function (i, item) {
        var quantity = $(this).val();
        quantitylist.push(quantity);
        })

        $.each($('[id^=partialdelivery'), function (i, item) {
        if($(this).prop("checked") == true){
            $(this).val("1");
            partialdelivery_list.push($(this).val()); 
            //$('#partialdeliverydiv'+i).show();
        }
        else if($(this).prop("checked") == false){
            $(this).val("0");
            partialdelivery_list.push($(this).val()); 
            //$('#partialdeliverydiv'+i).hide();
        }
        });
        //alert(partialdelivery_list);

        $.each($('[id^=partial_quantity'), function (i, item) {
        var partial_quantity = $(this).val();
        partial_qty_list.push(partial_quantity);
        })

        $.each($('[id^=partial_datetime'), function (i, item) {
        var partial_datetime = $(this).val();
        partial_datetime_list.push(partial_datetime);
        })

         $.each($('[id^=jobtype'), function (i, item) {
        var jobtype = $(this).val();
        jobtypelist.push(jobtype);
        })

        $.each($('[id^=deliverymode'), function (i, item) {
        var deliverymode = $(this).val();
        deliverymodelist.push(deliverymode);
        })

        $.each($('[id^=delivery_description'), function (i, item) {
        var delivery_description = $(this).val();
        delivery_desc_list.push(delivery_description);
        })

        $.each($('[id^=delivery_datetime'), function (i, item) {
        var delivery_datetime = $(this).val();
        delivery_datetime_list.push(delivery_datetime);
        })



        for(i=0;i<count;i++){
            squareinch_list[i]=custom_width_list[i]*custom_length_list[i];
        }
       

        for(i=0;i<count;i++){

            result[i] = {"Productname": productlist[i],"Paper":paperlist[i],"GSM":gsmlist[i],"Size":sizelist[i],"Sizeselect":sizeselect[i],"squareinch":squareinch_list[i],"Quantity":quantitylist[i],"PartialDelivery":partialdelivery_list[i],"Partial Qty":partial_qty_list[i],"Partial DateTime":partial_datetime_list[i],"Sides":side[i],"Jobtype":jobtypelist[i],"Delivery Mode":deliverymodelist[i],"Deleivery Desc":delivery_desc_list[i],"Deleivery DateTime":delivery_datetime_list[i]};

        }

        var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        data={"name":name,"contact_person":contact_person,"contact_no":contact_no,"whatsup_no":whatsup_no,"email_id":email_id,"sec_contact_no":sec_contact_no,"address":address,"communicationmode":communicationmode,"order_date":order_date,"customerid":customerid};
    
        $.ajax({
        type:"POST",
        url:"../jobcard_create/",
        data:data,
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
            storeproductcard(data.jobcardid,data.jobcardno); 
            jobcardno=data.jobcardno;   
            console.log("jobcard");
            console.log(jobcardno);       
        }
        });


});
function storeproductcard(id,jobcardno){

    for(i=0;i<count;i++){
            
        var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        data={"id":id,"jobcardno":jobcardno,"Productname": productlist[i],"Paper":paperlist[i],"GSM":gsmlist[i],"Size":sizelist[i],"Sizeselect":sizeselect[i],"squareinch":squareinch_list[i],"Quantity":quantitylist[i],"PartialDelivery":partialdelivery_list[i],"Partialqty":partial_qty_list[i],"PartialDateTime":partial_datetime_list[i],"Sides":side[i],"Jobtype":"1","Deliverymode":deliverymodelist[i],"DeleiveryDesc":delivery_desc_list[i],"DeleiveryDateTime":delivery_datetime_list[i]};
    
        $.ajax({
        type:"POST",
        url:"../jobcard_product_create/",
        data:data,
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
            console.log("productno");
            console.log(data.productno);
            console.log("productname");
            console.log(data.productname);
            storeprocesscard(data.jobcard_product_id);           
        }
        });

    }
}

function storeprocesscard(jobcard_product_id){
    var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    data={"id":jobcard_product_id,"processlist_id[]": processids};
  
    $.ajax({
        type:"POST",
        url:"../jobcard_product_process_create/",
        data:data,
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
            document.getElementById("customerfrm").reset();  
            console.log("process");
            console.log(data.processlist);
            $('#productadd').empty();
            final();
           // $('#jobcard').show();
           // $('#jobcard').html(jobcardno);

            
        }
    });
}

function final(){
    var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
   // data={"id":jobcard_product_id,"processlist_id[]": processids};
  
    $.ajax({
        
        url:"../final/",
        
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
     
            console.log("nav");
          

            
        }
    });
}

});

</script>

<script type="text/javascript">


function getproductid(sel,data)
{
    processdivcount=data.count;
    var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    data={"productid":sel.value};
    $.ajax({
        type:"POST",
        url:"../getprocesslist/",
        data:data,
        headers : {
            "X-CSRFToken" : crf_token
         },
        
        success:function(data){
           
            getprocess_list(data.processlist,data.processid,data.partialdelivery,processdivcount);

        }
    });

}


function getprocess_list(processlist,processid,partialdelivery,processdivcount)
{
    //$('#processlistdiv'+processdivcount).empty();
    $('#processlistdiv').empty();
    for(i=0;i<processlist.length ;i++){

    var container = $('#processlistdiv');
    //var container = $('#processlistdiv'+processdivcount);

    var inputs = container.find('input');
    var id = inputs.length+1;
    $('<input />', { type: 'checkbox', id: 'processname'+id, value: processid[i] ,class:"filled-in chk-col-teal"}).appendTo(container);
    $('<label />', { 'for': 'processname'+id, text: processlist[i] }).appendTo(container);
    $('<input />', { type: 'text', id: 'dt'+id ,size:'5',placeholder:'Date and Time'}).appendTo(container);
    
    }
    processids.length=0;
            
}

function getsizeid(sel,data)
{
    index=data.count;
    var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    data={"sizeid":sel.value};
    $.ajax({
        type:"POST",
        url:"../getsizevalues/",
        data:data,
        headers : {
            "X-CSRFToken" : crf_token
         },
        
        success:function(data){

            assignvalue(data.length,data.width,index);
       
        }
    });
}
function assignvalue(length,width,index)
{

//document.getElementById("custom_length").value = "Johnny Bravo";
//document.getElementById(custom_length[1]).innerHTML = "xmlHttp.responseText";

   //var custom_length = [];
   //custom_length = document.getElementsByName('custom_length[]');

    //custom_length[counter]="qwe";

    //console.log(custom_length);
   //var custom_length = $('input[name="custom_length[]"]');
    //custom_length.eq(counter).val(length);

    //console.log(index);
    //console.log(length);
    //$('#custom_length'+counter).val(length);
    $('input[name="custom_length[]"]').eq(index).val(length);
    $('input[name="custom_width[]"]').eq(index).val(width);
    $('input[name="custom_length[]"]').eq(index).attr("disabled", "disabled");
    $('input[name="custom_width[]"]').eq(index).attr("disabled", "disabled");
    
}



function customfunc(custom,index) 
{

    if($(custom).prop("checked") == true){
            
            //alert("yes");

            $('input[name="partial_quantity[]"]').eq(index).attr("disabled",false);

            //$("#custom_length"+index).prop('disabled', true);

            //document.getElementById('custom_length'+index).disabled = false;

            //$('input[name="custom_length[]"]').eq(index).removeAttr("disabled");

             //$("#custom_length"+index).removeAttr("disabled");
             //var custom_length=[];
             //custom_length = document.getElementsByName('custom_length[]');
             //custom_length[index] ="yes";
             //document.getElementById("custom_length"+index).value = "John";
           
            
        }
        else if($(custom).prop("checked") == false){

            //alert("no");
            //$('input[name="partial_quantity[]"]').eq(index).attr("disabled", true);

            //$(this).val("0");
            //partialdelivery_list.push($(this).val()); 
            //$('#partialdeliverydiv'+i).hide();
        } 
}


function partialdelivery(chkbox,index) 
{

    if($(chkbox).prop("checked") == true){
            
            //alert("yes");

             $('input[name="partial_quantity[]"]').eq(index).attr("disabled",false);

             //$("#partial_quantity"+index).removeAttr("disabled");
             //var partial_quantity=[];
             //partial_quantity = document.getElementsByName('partial_quantity[]');
             //partial_quantity[index] ="yes";
             //document.getElementById("partial_quantity"+index).value = "John";
           
            //$(this).val("1");
            //partialdelivery_list.push($(this).val()); 
            //$('#partialdeliverydiv'+i).show();
        }
        else if($(chkbox).prop("checked") == false){

            //alert("no");
            $('input[name="partial_quantity[]"]').eq(index).attr("disabled", true);

            //$(this).val("0");
            //partialdelivery_list.push($(this).val()); 
            //$('#partialdeliverydiv'+i).hide();
        }        
 
}


function clear_data() {
    $('#del_qty').val("");
    $('#del_description').val("");
    $('#del_batch').val("");
    $('#del_warehouse').val("");
    $('#state').val("");
    $('#item_name').val("");
    $('#production').val("");
} 
</script>

{% include "includes/file_js.html" %}

</html>