{% load static %}{% load rest_framework %}{%load common_function %}

<html>
<head>
 <link  rel="stylesheet" type="text/css"  href="{% static 'printerapp/css/styl.css' %}">

{% include "includes/css_file.html" %}

</head>
<body class="theme-red">
{% include "includes/index.html" %}
<div id="signupbox">
        <div class="leftbox">
            <form method="post" name="rectfrm" id="rectfrm">{% csrf_token %}

            <label>Sheet</label>
            <input type="text" name="sheetlength" id="sheetlength" value="{{data.sheetlength}}" placeholder="length">
            <input type="text" name="sheetwidth" id="sheetwidth" value="{{data.sheetwidth}}" placeholder="width">
            <label>Card</label>
            <input type="text" name="cardlength" id="cardlength" value="{{data.cardlength}}" placeholder="length">
            <input type="text" name="cardwidth" id="cardwidth" value="{{data.cardwidth}}" placeholder="width">
    

        </div>
        <div class="rightbox">
        <h1 class="signinwith">RESULT</h1>
           
                        {% if  rect %}
                        <label for="sheetlength">Sheet Length : </label>{{sheetlength}}  <br>
                        <label for="sheetwidth">Sheet Width   : </label>{{sheetwidth}}  <br>
                        <label for="cardlength">Card Length   : </label>{{cardlength}}  <br>
                        <label for="cardwidth">Card Width     : </label>{{cardwidth}}  <br>
                        

                        <label for="result">RESULT   :</label>{{rect}}  

                        {% endif %}
        
        </div>
        <button type="submit" name="submitfrm" id="submitfrm" class="or">=</button>
        </form>
    </div>
    


</body>
<script src="{% static 'printerapp/js/jquery-3.2.1.min.js' %}"></script>

<script type="text/javascript">


</script>

{% include "includes/file_js.html" %}
 
</html>