{% load static %}{% load rest_framework %}

<html>
<head>
{% include "includes/css_file.html" %}

</head>
<body class="theme-red">
{% include "includes/index.html" %}



<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PROCESS</h2>
            </div>
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Process List
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/printerapp/process/process_create"><i class="material-icons">add</i></a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Process Name</th>
                                        <th>Partial Delivery Time Need</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for lists_val in data %}
                                    
                                    <td>{{forloop.counter}}</td>
                                    <td>{{lists_val.process_name}}</td>
                                    <td>{% if lists_val.is_deliveryTime == 1|add:0%}Yes{%else%}No{%endif%}</td>
                                    <td><div class="btn-group dropright">
                                        <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                        <li><a href="/printerapp/process/process_update/{{ lists_val.id }}"><i class="material-icons">create</i></a></li>
                                        <li><a href="/printerapp/process/process_delete/{{ lists_val.id }}"onclick="return confirm_delete();"><i class="material-icons">delete</i></a></li>
                                        <li><a href="/printerapp/process/process_view/{{ lists_val.id }}"><i class="material-icons">visibility</i></a><li>
                                        </ul>
                                        </div>
                                    </td>
                                   

                                </tr>
                                {% endfor %}
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
</section>   


{% if data.has_other_pages %}
<div>
<div class=""style="float: right">
<ul class="pagination">
    {% if data.has_previous %}
    <li class="paginate_button previous"  tabindex="0" >
        <a href="?page={{ data.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="paginate_button previous disabled"  tabindex="0" >
        <a href="#">Previous</a>
    </li>
    {% endif %}
    {% for i in data.paginator.page_range %}
    {% if data.number == i %}
    <li class="paginate_button active"  tabindex="0">
        <a href="?page={{ i }}">{{ i }}</a>
    </li> {% else %}
    <li class="paginate_button "  tabindex="0">
        <a href="?page={{ i }}">{{ i }}</a>
    </li>{% endif %}
    {% endfor %}
    {% if data.has_next %}
    <li class="paginate_button next"  tabindex="0" id="datatable_next">
        <a href="?page={{ lists.next_page_number }}">Next</a>
    {% else %}
    <li class="paginate_button next disabled"  tabindex="0">
        <a href="#">Next</a>
    {% endif %}         
    </li>
</ul>
</div>
</div>
{% endif %}  

                   
                  
{% include "includes/file_js.html" %}
 
   
</body>

</html>