{% load static %}{% load rest_framework %}{%load common_function %}

<html>
<head>
{% include "includes/css_file.html" %}
</head>
<body class="theme-red">
{% include "includes/index.html" %}



    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PRODUCT</h2>
            </div>

            <div class="row clearfix" id="success">
                {% if  error_data  or  success_data%}
                    <div class="col-md-12">
                    <div   {% if  error_data  %} class="alert alert-danger"  {% endif %} {% if  success_data  %} class="alert  alert-success"  {% endif %}>
                    {% if  error_data  %}
                    {{error_data.Error.message}} 
                                    
                    {% for  error_details in error_data.Error.error_details %}
                    {{error_data..Error.error_details}}
                    </Br>
                    {{error_details.field}} -> {{error_details.message}}
                    {% endfor %}
                    {% endif %}
                    {% if  success_data %}
                    <strong>Well done!</strong> {{success_data}}.
                    {% endif %}
                    </div>
                    </div>
                    {% endif %}
            </div>
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            {% if data.id %}
                                {%if view_mode%}
                                <h2>Product View</h2>
                                {%else%}
                                <h2>Product Update</h2>
                                {%endif%}
                            {%else%}
                            <h2>Product Create</h2>
                            {%endif%}
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/printerapp/product/product_list"><i class="material-icons">visibility</i></a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="post"name="productfrm" id="productfrm">{% csrf_token %}
                                <label for="product_name">Product Name</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text"name="product_name" id="product_name" class="form-control" value="{{data.product_name}}"placeholder="Enter Product name">
                                    </div>
                                </div>
                                
                                {%if data.id %}
                                
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>Process Name</th>
                                        <th>Default</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in product_data %}
                                <tr>
                                    {%if data.id|add:0  == list.productid|add:0 %}
                                    {%if list.product_process%}
                                    {% processlist id=list.product_process as processname %}
                                    <td>
                                    {{processname}}
                                    </td>
                                    <td>
                                        {%if list.default_process == 1 %}
                                        YES
                                        {%else%}
                                        NO
                                        {%endif%}
                                    </td>
                                    <td><div class="btn-group dropright">
                                        <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        </button>
                                    <ul class="dropdown-menu">
                                    <li><a href="/printerapp/product/product_processdelete/{{ list.id }}"onclick="return confirm_delete();" ><i class="material-icons">delete</i></a></li>
                                    </ul>
                                    </td>
                                    {%endif%}                
                                    {%endif%}
                                    
                                </tr>
                               {%endfor%}
                                </tbody>
                                </table>
                                {%endif%}


                                <label for="process_name">Process Name</label>
                                <div class="row clearfix">
                                    <div class="col-md-6">  
                                    <div class="form-group" id="ProccessBoxDiv">
                                    <div class="form-line">
                                        
                                        <input type="text"name="textbox1" id="textbox1" class="form-control" value=""placeholder="Enter Process name">
                                    
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" id="default_process1" name="default_process1" class="filled-in chk-col-teal"/>
                                        <label for="default_process1">Default Process</label>   
                                    </div>

                                </div>
                               <div id='TextBoxesGroup'></div>
                                <label for="lab_plus" id="lab_plus">Add + </label>
                            

                        </div>
                    </div>
                    <div {% if view_mode %} style="display:none" {% endif%}>
                    {%if data.id %}
                    <button type="button" name="updatefrm" id="updatefrm" class="btn btn-primary m-t-15 waves-effect">Update</button>
                    {%else%}
                    <button type="button" name="submitfrm" id="submitfrm"class="btn btn-primary m-t-15 waves-effect">Submit</button>
                    {%endif%}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-secondary m-t-15 waves-effect">Reset</button>
                    </div>
                    </form>
                </div>
            </div>
            <!-- #END# Vertical Layout -->
            <!-- Vertical Layout | With Floating Label -->
           
           
</div>
</section>

</body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
<script src="{% static 'printerapp/js/jquery-3.2.1.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">
var jQuery_3_2_1 = jQuery.noConflict();
    var counter = 2;
    var processidarray=[];
    var defaultprocess=[];
jQuery_3_2_1(document).ready(function() {

    console.log("ready");
    jQuery_3_2_1("#lab_plus").click(function () {
                
    var newPassBoxDiv = jQuery_3_2_1(document.createElement('div')).attr({"id":'ProccessBoxDiv' + counter,"class":'form-group'});

         newPassBoxDiv.after().html('<label>Process Name '+ counter + ' : </label><div class="row clearfix"><div class="col-md-6"><div class="form-line"><input type="text" class="form-control" placeholder="Enter process name" name="textbox' + counter + '" id="textbox' + counter + '"></div></div><div class="col-md-6"><input type="checkbox" id="default_process' + counter + '" name="default_process' + counter + '" class="filled-in chk-col-teal"/><label for="default_process' + counter + '">Default Proccess</label></div></div>');
   
    newPassBoxDiv.appendTo("#TextBoxesGroup");
    for (var i=1; i < counter;i++)
    {
      jQuery_3_2_1("#textbox"+counter).autocomplete({
      source : "/printerapp/autocomplete/processname/",
      select : function(event, ui) { //item selected
      
      processidarray.push(ui.item.id);
      },
      minLength : 2,
      });
    }
    counter++;

    });
    jQuery_3_2_1(function() {

    for (var i=1; i < counter;i++)
    {
      jQuery_3_2_1("#textbox"+i).autocomplete({
      source : "/printerapp/autocomplete/processname/",
      select : function(event, ui) { //item selected
      processidarray.push(ui.item.id);
      },
      minLength : 2,
      });
    }
}); 
  
});

jQuery_3_2_1("#submitfrm").click(function(){

for(i=0; i<counter-1; i++){
  console.log(processidarray[i]);
}


 $.each($('[id^=default_process'), function (i, item) {

    if ($(this).is(":checked")) {
            $(this).val("1");
            defaultprocess.push($(this).val()); 

        } else {
            $(this).val("0");
            defaultprocess.push($(this).val()); 
        }

        });

for(i=0; i<counter-1; i++){
  console.log(defaultprocess[i]);
}

  var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
  data={"product_name":$('#product_name').val(),"processidarray[]":processidarray,"defaultprocess[]":defaultprocess};
    /* url="../../product_processupdate/";
    
    data={"product_name":jQuery_3_2_1('#product_name').val()};*/
    $.ajax({
        type:"POST",
        url:"../product_create/",
        data:data,
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
            console.log(data);
            //console.log(data.success_data);
           // $('#success').html(data.success_data);
            document.getElementById("productfrm").reset();  
        }
        });     
    }); 

jQuery_3_2_1("#updatefrm").click(function(){

 

 $.each($('[id^=default_process'), function (i, item) {

    if ($(this).is(":checked")) {
            $(this).val("1");
            defaultprocess.push($(this).val()); 

        } else {
            $(this).val("0");
            defaultprocess.push($(this).val()); 
        }

        });

for(i=0; i<counter-1; i++){
 console.log(processidarray[i]);
}

for(i=0; i<counter-1; i++){
  console.log(defaultprocess[i]);
}

  var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
  data={"product_name":$('#product_name').val(),"processidarray[]":processidarray,"defaultprocess[]":defaultprocess};
    /* url="../../product_processupdate/";
    
    data={"product_name":jQuery_3_2_1('#product_name').val()};*/
    $.ajax({
        type:"POST",
        data:data,
        headers : {
        "X-CSRFToken" : crf_token
        },
            
        success:function(data){
            console.log(data);
            console.log(data.success_data);
           // $('#success').html(data.success_data);
            $('#product_name').val(" ");
            document.getElementById("productfrm").reset();  
        }
        });     
    }); 


</script>

{% include "includes/file_js.html" %}
</html>