{% load static %}{% load rest_framework %}

<html>
<head>
{% include "includes/css_file.html" %}
</head>
<body class="theme-red">
{% include "includes/index.html" %}



    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>SIZE</h2>
            </div>

            <div class="row clearfix">
                {% if  error_data  or  success_data%}
                    <div class="col-md-12">
                    <div   {% if  error_data  %} class="alert alert-danger"  {% endif %} {% if  success_data  %} class="alert  alert-success"  {% endif %}>
                    {% if  error_data  %}
                    {{error_data.Error.message}} 
                                    
                    {% for  error_details in error_data.Error.error_details %}
                    {{error_data..Error.error_details}}
                    </Br>
                    {{error_details.field}} -> {{error_details.message}}
                    {% endfor %}
                    {% endif %}
                    {% if  success_data %}
                    <strong>Well done!</strong> {{success_data}}.
                    {% endif %}
                    </div>
                    </div>
                    {% endif %}
            </div>
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            {% if data.id %}
                                {%if view_mode%}
                                <h2>Size View</h2>
                                {%else%}
                                <h2>Size Update</h2>
                                {%endif%}
                            {%else%}
                            <h2>Size Create</h2>
                            {%endif%}
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/printerapp/size/size_list"><i class="material-icons">visibility</i></a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form method="post"name="sizefrm" id="sizefrm">{% csrf_token %}
                                <label for="size_name">Size Name</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text"name="size_name" id="size_name" class="form-control" value="{{data.size_name}}"placeholder="Enter size name">
                                    </div>
                                </div>

                                <label for="size_name">Length(inches)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text"name="length" id="length" class="form-control" value="{{data.length}}"placeholder="Enter length">
                                        
                                    </div>
                                </div>

                                <label for="size_name">Width(inches)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text"name="width" id="width" class="form-control" value="{{data.width}}"placeholder="Enter Width">
                                        
                                    </div>
                                </div>
                                
                               
                        </div>
                    </div>
                    <div {% if view_mode %} style="display:none" {% endif%}>
                    {%if data.id %}
                    <button type="submit" name="submitfrm" id="submitfrm"class="btn btn-primary m-t-15 waves-effect">Update</button>
                    {%else%}
                    <button type="submit" name="submitfrm" id="submitfrm"class="btn btn-primary m-t-15 waves-effect">Submit</button>
                    {%endif%}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-secondary m-t-15 waves-effect">Reset</button>
                    </div>
                    </form>
                </div>
            </div>
            <!-- #END# Vertical Layout -->
            <!-- Vertical Layout | With Floating Label -->
           
           
</div>
</section>
 
              

</body>
<script src="{% static 'printerapp/js/jquery-3.2.1.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#submitfrm").click(function(){
        frmvalidation();
        
    }); 
    
});
function frmvalidation(){
$("#sizefrm").validate({
  rules : {
    size_name: {
      required : true,
      },
    length: {
      required : true,
      },
    width: {
      required : true,
      },
      submitHandler : function(form) {
        form.submit();

      }
    }
  });
}


</script>

{% include "includes/file_js.html" %}
 
</html>